.wrapper {
    display: flex;
    flex-direction: row;
}

.input {
    width: 502px;
    height: 48px;
    margin-top: 13px;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid var(--color--black);
    padding-left: 20px;
    font-family: 'Lato', sans-serif;
}

.input::placeholder {
    width: max-content;
    height: 19px;
    font-family: "Lato";
    color: var(--color--black);
    letter-spacing: 0.2px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.searchIcon {
    width: 68px;
    height: 48px;
    background-color: var(--color--white);
    margin-top: 13px;
    border: 1px solid var(--color--black);
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}